@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5f5f5;
}


main {
    flex-grow: 1;
}


/* header css */
.main_header {
    padding: 10px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* desigining burger menu */
.main_header_sidebar input {
    display: none;
}

.main_header_sidebar label {
    /* background-color: rgb(215, 159, 159); */
    border-radius: 50%;
    padding: 4px;
    width: 25px;
}

.main_header_sidebar label>span {
    display: block;
    width: 20px;
    height: 3px;
    margin-bottom: 2px;
    background-color: black;
}


.main_header nav>ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}


@media screen and (width < 570px) {
    .main_header {
        flex-wrap: wrap;
        padding: 10px 30px;
        gap: 10px;
        /* justify-content: center; */
    }

}



/*  filter css */

.filter {
    padding: 30px 0px 30px 60px;
    overflow: hidden;
}

.filter form {
    display: flex;
    align-items: center;
    gap: 20px;
}

.filter form>div {
    flex-shrink: 0;
}


.filter form input,
.filter form select {
    padding: 12px 16px;
    border-radius: 37px;
    background: white;
    font-size: 1.1rem;
}

.search_bar {
    position: relative;
}

.filter form input {
    width: 360px;
}

.filter form .searchIcon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;

}

.filter form .searchIcon img {
    width: 20px;
    height: 20px;
}

@media screen and (width < 570px) {
    .filter {
        padding: 30px 0px 30px 30px;
    }

    .filter form input {
        width: 260px;
    }

}


/*  hero section css */

.hero_section {
    padding: 30px 60px;
    min-height: 100vh;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
}


.card_white {
    grid-area: span 3 / span 2;
    background: #fff;
    border-radius: 37px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_white h1 {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: 0%;
}

.card_white p {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 110%;
    letter-spacing: 0%;
    margin: 14px auto;
}

.card_white .btn_container {
    display: flex;
    align-items: center;
}

.card_white button {
    border-radius: 37px;
    padding: 16px 24px;
    height: 60px;
    font-size: 1.1rem;
    color: white;
    background-color: #000;
}

.card_white .shop_arrow_btn {
    border-radius: 50%;
    padding: 16px;
    margin-left: 10px;
    height: 60px;
}

.card_white .shop_arrow_btn img {
    width: 100%;
}

.card_white_bottom {
    display: flex;
}

.card_white_bottom .card_white_bottom_left {
    flex-basis: 70%;
    border: 1px solid black;
}

.card_white_bottom .card_white_bottom_right {
    align-self: flex-end;
    flex-basis: 30%;
    border: 1px solid black;
}

.card_white_bottom_right img {
    border-radius: 50%;
    margin-right: -14px;
}



.gradient_Card {
    grid-area: span 3 / span 2;
    background: linear-gradient(180deg, #D7EBEB 14.69%, #F4AFE9 55.52%, #9D7EF3 100%);
}

.last_card {
    grid-column: span 4;
    display: flex;
    gap: 20px;
}

.last_card img {
    width: 100%;
}