@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5f5f5;
}


main {
    flex-grow: 1;
}


section {
    padding: 3.5em 60px;
}

section h2 {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 100%;
    letter-spacing: 0%;
}

@media screen and (width < 920px) {
    section {
        padding: 3.5em 20px;
    }

    section h2 {
        font-size: 1.8rem;
    }
}




/* header css */
.main_header {
    padding: 10px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* desigining burger menu */
.main_header_sidebar input {
    display: none;
}

.main_header_sidebar label {
    /* background-color: rgb(215, 159, 159); */
    border-radius: 50%;
    padding: 4px;
    width: 25px;
}

.main_header_sidebar label>span {
    display: block;
    width: 20px;
    height: 3px;
    margin-bottom: 2px;
    background-color: black;
}


.main_header nav>ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
}


@media screen and (width < 570px) {
    .main_header {
        flex-wrap: wrap;
        padding: 10px 30px;
        gap: 10px;
        /* justify-content: center; */
    }

}



/*  filter css */

.filter {
    padding: 30px 0px 30px 60px;
    overflow: hidden;
}

.filter form {
    display: flex;
    align-items: center;
    gap: 20px;
}

.filter form>div {
    flex-shrink: 0;
}


.filter form input,
.filter form select {
    padding: 12px 16px;
    border-radius: 37px;
    background: white;
    font-size: 1.1rem;
}

.search_bar {
    position: relative;
}

.filter form input {
    width: 360px;
}

.filter form .searchIcon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;

}

.filter form .searchIcon img {
    width: 20px;
    height: 20px;
}

@media screen and (width < 570px) {
    .filter {
        padding: 30px 0px 30px 30px;
    }

    .filter form input {
        width: 260px;
    }

}


/*  hero section css */

.hero_section {
    padding: 30px 60px;
    min-height: 100vh;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
}




.card_white {
    grid-area: span 3 / span 2;
    background: #fff;
    border-radius: 37px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_white h1 {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: 0%;
}

.card_white p {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 110%;
    letter-spacing: 0%;
    margin: 14px auto;
}

.card_white .btn_container {
    display: flex;
    align-items: center;
}

.card_white button {
    border-radius: 37px;
    padding: 16px 24px;
    height: 60px;
    font-size: 1.1rem;
    color: white;
    background-color: #000;
}

.card_white .shop_arrow_btn {
    border-radius: 50%;
    padding: 16px;
    margin-left: 10px;
    height: 60px;
}

.card_white .shop_arrow_btn img {
    width: 100%;
}

.card_white_bottom {
    display: flex;
}

.card_white_bottom .card_white_bottom_left {
    flex-basis: 70%;
    /* border: 1px solid black; */
}

.card_white_bottom .card_white_bottom_right {
    align-self: flex-end;
    flex-basis: 30%;
    /* border: 1px solid black; */
}

.card_white_bottom_right img {
    border-radius: 50%;
    margin-right: -14px;
}



.gradient_Card {
    grid-area: span 3 / span 2;
    border-radius: 37px;
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #D7EBEB 14.69%, #F4AFE9 55.52%, #9D7EF3 100%);
}

.gradient_Card img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.last_card {
    grid-column: span 4;
    display: flex;

    gap: 20px;
}

.last_card div {
    flex: 1;
    min-height: 25vh;
}

.last_card img {
    width: 100%;
    height: 100%;
    border-radius: 37px;

}

.last_third_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 14px;
    border-radius: 37px;
    background: #fff;
}


@media screen and (width < 920px) {
    .hero_section {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 2em 20px;
    }

    .card_white h1 {
        font-size: 2rem;
    }

    .card_white,
    .gradient_Card {
        grid-area: span 1;
    }

    .card_white_bottom {
        flex-direction: column;
    }

    .gradient_Card {
        display: hidden;
        max-width: auto;
    }

    .last_card {
        grid-area: span 1;
        flex-direction: column;
    }
}


/* category list */

.category_list header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
    /* padding: 24px 60px; */
}

.category_list header button {
    border-radius: 24px;
    padding: 1em 1.4em;
    background-color: white;
    color: #000;
    border: none;
    font-size: 1rem;
}

.category_list figure {
    flex-grow: 1;
    flex-shrink: 0;

}




.category_list .popular_card1 {
    flex-grow: 0.3;
}

.category_list .popular_card2 {
    flex-grow: 1.4;
}

.category_list .popular_card3 {
    flex-grow: 0.3;
}



.category_list header button.active {
    background-color: #000;
    color: white;
}


.category_list .container {
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
}


.category_list .container img {
    border-radius: 37px;
    margin-bottom: 16px;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/0.65;
}

@media screen and (width < 920px) {
    .category_list header {
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }

    .category_list header button {
        display: block;
        margin-bottom: 1em;
    }

    .category_list .container {
        flex-direction: column;
        position: relative;
    }

    .category_list .container figure {
        position: sticky;
        top: 20px;
    }
}


/* why us  */

.why_us .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
    /* flex-wrap: wrap; */
}


.why_us .container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
    background-color: #fff;
    border-radius: 37px;
    padding: 1.5em;
}

@media screen and (width < 920px) {
    .why_us .container {
        flex-wrap: wrap;
    }
}


/*  cta css */

.cta {
    margin: 2em 60px;
    border-radius: 37px;
    background: transparent url('../assets/ctabg.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.cta .container {
    background: #fff;
    padding: 4em 3em;
    border-radius: 37px;
    display: flex;
    gap: 1.5em;
    flex-wrap: wrap;
}


.cta .right {
    flex-grow: 1;
    flex-shrink: 0;
    /* border: 1px solid black; */
}

.cta .left {
    /* flex-grow: 1; */
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 1px solid black; */

}


.cta .left p {
    max-width: 80%;
}

.cta form div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    /* width: 100%; */
    margin-bottom: 1.2em;
}


.cta form input {
    padding: 1em;
    /* width: 100%; */
}


@media screen and (width < 920px) {

    .cta {
        margin: 2.5em 20px;
    }

    .cta .container .left {
        flex-shrink: 1;
    }
}